.alert {
    background: #273A4B;
    padding: 25px 50px 25px 50px;  
    color: white;
    text-align: center;
    margin-bottom: 0px;
  }

.flex-container {
    justify-content: center;
    display: -ms-flexbox;
      -ms-flex-direction: row;
      -ms-flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }
  