.SoundCloudTab {
  background-color: #ff7700;
}

.SoundCloudButton {
  background-color: #ff9940;
}

.Centered {
  text-align: center;
  text-align: center;  
  margin-bottom: 0px;
}

.ExtraCentered {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.TitleColumn {
  width: 15%;
}

.GenreColumn {
  width: 10%;
}

.DescriptionColumn {
  width: 55%;
}

.PlayColumn {
  width: 5%;
  justify-content: center;
  text-align: center;
}

.flex-container {
  justify-content: center;
  display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
